<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>

    <link
      href="https://cdn.datatables.net/v/bs5/dt-2.0.5/datatables.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      nav {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }

      .menu {
        display: flex;
      }

      .menu a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        width: 100px; /* Fixed width for each navbar item */
        text-align: center;
      }

      .menu a:hover {
        background-color: #555;
      }

      .content {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="#">Contact Us</a>
        <a href="/add">Add User</a>
      </div>
    </nav>

    <div class="content">
      <!-- Your content here -->
    </div>
  </body>
</html>
